* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    gap: 3%;
    padding-left: 20px;
    text-align: center;
    padding: 0px;

}
.sidebar{
    background: black;
    color: white;
    padding: 2%;
    height: 100vh;
}

.sidebar button{
    width: 100%;
    height: 30%;
}

.zones{
    background-image: url('');
}

