* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    gap: 3%;
    padding-left: 20px;
    text-align: center;
    padding: 0px;

}
.sidebar{
    background: black;
    color: white;
    padding: 2%;
    height: 100vh;
}

.sidebar button{
    width: 100%;
    height: 30%;
}

.zones {  
  /* background-image: url('plan-69159a65c5684763515973.jpg'); */
  width: 1300px;
  height: 100vh;
  display: grid;
  grid-template-columns: 2.5fr repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "zone_conference couloir zone_archive zone_security"
    "zone_reception couloir couloire couloire"
    "zone_reception couloir zone_staff zone_serveur";
}

.zone_conference { grid-area: zone_conference; background-color: black;  color: white;}


.zone_reception { grid-area: zone_reception;  background-color: black; color: white;}

.couloir { grid-area: couloir; }

.zone_archive { grid-area: zone_archive;  background-color: black; color: white; }

.zone_security { grid-area: zone_security;  background-color: black; color: white; }

.couloire { grid-area: couloire;  color: white; }

.zone_staff { grid-area: zone_staff;  background-color: black; color: white;}

.zone_serveur { grid-area: zone_serveur;  background-color: black; color: white;}
.profile{
    padding-top: 2%;
    background-color: white;
    color: black;
}

